.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(109, 109, 109) , #f1aba6);
    
}

.login__header{
    display: flex;
    align-items: center;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.568);
}

.login__header > img{
    width: 100px;
}

.login__header > h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.login__input {
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
    

}

.login__button {
    background-color: #ee665c;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #bd534c69;

}